include README.md
include README_CN.md
include CHANGELOG.md
include LICENSE
recursive-include resources/api_inventory *.json *.md *.txt *.html
recursive-include resources/docs *.md *.json
recursive-exclude local *
prune local
